.Hero{
    display: flex;
    justify-content: center;
}

.Hero_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hero_left_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.Hero_user{
    width: 100%;
}

.Hero_icon{
    width: 100%;
    background: linear-gradient(180deg, #800165 0%, #D3014E 100%);;
    width: 20px;
    border-radius: 50%;
    padding: 0.5em;
    position: absolute;
    bottom: -10px;
}

.Logout{
    display: flex;
    gap: 10px;
    color: #ACB7EB;
}