.classroom_btn{
    background: #F1F3FD;
    color: #ACB7EB;
    border-radius: 12px;
    padding: 0.5em 1em;
    outline: none;
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}
.classroom_btn > div{
    width: 12px;
}

.classroom_img{
    width: 100%;
}

.classroom_btn:hover{
    opacity: 0.8;
}

.active{
    color: #30302E;;
    background: #F1F3FD;
    opacity: 1;
    border-radius: 12px;
}